* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #838383;
  }
  
.oreangBG{
    background-color: orange;
    min-height: 800px;
    width: 100%;
}

  header {

    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  nav {
    display: flex;
    justify-content:baseline;
    align-items: center;
    padding: 0px;
    position: relative;
    margin-left: 0%;
    margin-right: 15%;
  }
  
  nav img {
    width: 150px;
    margin-left: 0px;
    margin-right: 50px;
    background-color: #ffffff;
    
  }
  
  nav ul {
    display: flex;
    list-style: none;

  }
  
  nav ul li {
    margin-right: 50px;
    text-transform: uppercase;
    
  }
  
  nav ul li a {
    color: #07003b;
    text-decoration: none;
  }



  .hero {
    display: block;
    text-align: center;
    font-weight: 10px;
    color: #c4c4c4;
   
    
  }
  .hero h1 {
    margin-bottom: 10px;
  }
  .hero h2 {
    margin-bottom: 10px;
  }
  .hero button {
    background-color: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    border:  0px;
    padding: 10px;
  }
.box{
    width: auto;
   
}
.box1{
    position: absolute;
   
}
.box2{
    display: flex;
    flex-wrap: nowrap;
   
    position: absolute;
    top: 20%;
  
}

.box3{
    position: absolute;
    top: 40%;
    left: 50%;
    border-left:  solid  100px rgb(27, 35, 80);
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 40px;
    background-color: #fff;
    margin-right: 100px;

    
}

.buttonLearnmore{
    position: absolute;
    left: 20%;
    top:80%;
   
}

.bgblue{
    display: inline;
    background-color: #07003b;
    width: 200px;
    height: 100px;
    
    left: 30px;
}


  .textHero{
    
    display: inline-block;
  }













.content1{  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -70px;
    color: #333;
    

}
.card img {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.head2{
    margin: 20px;
    
}
h3 {
    font-size: 2rem;
    font-weight: bolder;
    color: #000000;
}


.card {display: inline;
    width: 200px;
  


}

.container1 .card{
    display: inline;
        width: 200px;
        border: #e6e6e6 solid 1px;
        padding: 20px;
    
    
    
    
}


.category {
    display: flex;
   margin-top: -100px;
    justify-content: end;
    margin-right: 10%;
  
}

.ourservices{
    width: 200px;
}
.container1{
    display: flex;
    align-items: center;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    justify-items: center;
   justify-content: space-around;




.card img{
    justify-items: center;
    
}

.card h3 {
padding: 10px;
text-align: center;
color: #000000;
}



button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}




footer {
padding: 50px;
display: flex;
justify-content: space-between;
align-items: center;
}

.links {
display: flex;
justify-content: space-between;
width: 60%;
}

.links ul {
list-style: none;
margin-right: 40px;
}

.links ul li {
margin-bottom: 10px;
}

.links ul li a {
color: #757575;
text-decoration: none;
}

.links ul li a:hover {
text-decoration: underline;
}

.footer-logo img {
width: 100px;
}