body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.bigcontainer {
  padding-left: 10%;
  padding-right: 10%;
}

nav {
  background-color: #00a2ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav a {
  margin: 0 2px;
}

.headline {
  text-align: center;
  font-size: x-large;
}

.logo {
  margin: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 15px;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headline {
  margin: auto;
}

.property {
  padding: 10px;
  border-radius: 5px;
}

.property img {
  max-width: 300px;
  height: auto;

  margin: 10px;
}
.box {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 500px;
  background-color: rgb(233, 233, 233);
  padding: 50px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  align-items: center;
  background-size: cover;
  box-shadow: 4px 3px 3px black;
}

.green1 {
  background-size: cover;
  background-image: url(../image/baejita1991_5_pieces_of_Limes_for_summer_full_shot_for_png_for__91b8957a-a138-4cf3-99ca-372fe00ad6fb.png);
  box-shadow: 4px 3px 3px black;
  background-position: center;
}

p {
  margin-top: -20px;
  font-size: smaller;
}

.box2 {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  box-shadow: 4px 3px 3px black;
}

#box22 {
  background-size: contain;
  background-image: url(../image/spacejoy-nEtpvJjnPVo-unsplash.jpg);
  box-shadow: 4px 3px 3px black;
}

#boxx33 {
  background-position: center;
  background-size: cover;
  background-image: url(../image/baejita1991_5_pieces_of_Tangerines_for_summer_full_shot_for_png_b8aa8a56-f005-4e48-8a79-e024598f4657.png);
  box-shadow: 4px 3px 3px black;
}

.orange {
  background-size: cover;
  background-position: center;
  background-image: url(../image/roberto-nickson-emqnSQwQQDo-unsplash.jpg);
  box-shadow: 4px 3px 3px rgb(53, 53, 53);
  border-radius: 2%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -50px;
}

.container2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  height: 600px;
}

.container3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 20px;
}

footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.little1 {
  display: flex;
  background-image: url(../image/baejita1991_5_pieces_of_Grapefruit_for_summer_full_shot_for_png_fb424867-b928-4560-b092-530e4a7c50e9.png);
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 3%;
}

.little2 {
  display: flex;
  background-image: url(../image/baejita1991_5_pieces_of_Grapes_for_summer_full_shot_for_png_for_3aefe330-3e7a-405b-b77e-06bba4da0fa7.png);
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 3%;
}

.little3 {
  display: flex;
  background-image: url(../image/baejita1991_5_pieces_of_Kiwi_for_summer_full_shot_for_png_for_t_97905b3b-861c-4019-8da3-dfef00c4834f.png);
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 3%;
}

.little4 {
  display: flex;
  background-image: url(../image/baejita1991_5_pieces_of_Raspberries_for_summer_full_shot_for_pn_f1cb696a-8455-4532-866d-889e4400d698.png);
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 3%;
}
