@tailwind base;
@tailwind components;
@tailwind utilities;
body { background-color: rgb(240, 240, 240);
}

.margin {
  margin: 0% 16%;
}

nav {
  color: rgb(255, 255, 255);
  padding-top: 10px;
}

/* .head {
  height: 600px;
  background-position: center;
  background-size: cover;
  background-image: url(../Test/content/Baejita_Imagine_fresh_vegetables_staged_in_a_traditional_market_8a10db6a-a36f-4359-8805-d9e83169c9c5.png);
} */

.logo {
  margin-right: auto;
}

.hero-back {
  width: 100%;
  height: calc(100vh);
  background: url(../Test/content/Baejita_Imagine_fresh_vegetables_staged_in_a_traditional_market_8a10db6a-a36f-4359-8805-d9e83169c9c5.png) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}



.telophone {
  width: 100px;
  transform: rotate(-90deg);
  margin-left: auto;
  padding: 2px;
  border-radius: 20px;
  color: rgb(231, 255, 255);
  padding-top: 5%;
}

li {
  font-size: small;
}

fieldset {
  display: flex;
  margin-left: 60%;
  width: 300px;
  transform: rotate(-90deg);
  border: 5px solid rgb(255, 255, 255);
}

legend {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: bolder;
  transform: rotate(90deg);
}

.boximage {
  width: 400px;
  height: 400px;
  background-position: left;
  background-size: cover;
  background-image: url(../Test/content/Baejita_Imagine_fresh_vegetables_perched_on_a_window_sill_of_an_8b5b57da-6f32-407c-8f97-1c1612da3e5b.png);
  box-shadow: 4px 3px 20px;
}

.container2 {
  background-image: url(../Test/content/Baejita_wild_landscape_beutiful__sunshine_flower_use_golden_rat_28622c1f-7686-4d05-9e66-ccae89381073-PgY5Qh3M5-transformed.jpeg);
  background-position: center;
  background-size: cover;
  height: 300px;
}

.box3 {
  margin-left: 40%;
  padding-top: 10%;
  padding-bottom: 5%;
  margin-bottom: 5%;
  margin-top: -4%;
  padding-left: 20px;
}

/* .tabcolr{
  margin-top: 20%;
} */

p {
  @apply text-sm;
  @apply font-thin;
  color: aliceblue;
}

.box {
  @apply flex;
  @apply justify-center;
}

.card {
  width: 200px;
}
.cardimage {
  background-image: url(../Test/content/Baejita_wild_landscape_beutiful__sunshine_flower_use_golden_rat_28622c1f-7686-4d05-9e66-ccae89381073-PgY5Qh3M5-transformed.jpeg);
  height: 150px;
  width: 150px;
  background-position: center;
  background-size: cover;
  margin: 0% auto;
  margin-bottom: 10px;
}
h2 {
  margin-bottom: 4px;
  @apply text-black;
}

body {
  background-color: rgb(240, 240, 240);
}

h1 {
  @apply text-red-600;
}

.button {
  @apply text-gray-600;
  @apply hover:text-black;
  @apply hover:bg-slate-500;
}

footer {
  width: 100%;
  height: 200px;
}

h4 {
  @apply font-bold;
  @apply text-sm;
}
